<?xml version='1.0' encoding='utf-8'?>
<widget id="com.belajarkode.resizer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Resizer Pro HTML</name>
    <description>Aplikasi Resize Foto Ringan</description>
    <author email="dev@kamu.com">Pelajar Kode</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
</widget>
